:root {
  /* FONTS */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* COLOR */
  --secondary-text-color: #2e2f42;
  --primary-text-color: #434455;
  --light-background: #e5e5e5;
  --dark-background: #2e2f42;
  --hero-text-color: #ffffff;
  --attention-color: #4d5ae5;
  --nav-color: ##e7e9fc;
  --white-logo-color: #e7e9fc;
  --pressed-state-color: #404bbf;
  --white-team-background: #f4f4fd;
}
/* Base styles */
.page {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}
.link {
  color: inherit;
  text-decoration: none;
}
.header {
  background-color: var(--nav-color);
}
.header-logo {
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--attention-color);
  font-family: var(--secondary-font);
}

.logo-second-word {
  color: var(--dark-background);
}
.header-nav {
}
.header-nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}
.header-nav-item {
}
.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address-list {
}
.header-address-item {
}
.header-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-address:hover,
.header-address:focus {
  color: var(--pressed-state-color);
}
.hero {
  background-color: var(--dark-background);
}
.section {
}
.header-address {
  font-style: normal;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--attention-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--pressed-state-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.features {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
}
.feature-item {
}
.feature-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.service {
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.service-list {
}
.service-item {
}
.service-img {
}
.team {
  background-color: var(--white-team-background);
}
.team-list {
}
.team-item {
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-img {
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer {
  background-color: var(--dark-background);
  font-family: var(--secondary-font);
}
.footer-logo-link {
  font-weight: 800;
  color: var(--attention-color);
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-second-word {
  color: var(--white-team-background);
}
.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-team-background);
  font-family: var(--primary-font);
}

.filter-list {
}
.filter-item {
}
.filter-btn {
  background-color: var(--white-team-background);
  color: var(--attention-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: var(--primary-font);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--hero-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.article-list {
}
.row-item {
  background-color: var(--hero-text-color);
}
.row-item-link {
}
.article-name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  letter-spacing: 0.02em;
}
.article-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
